@import "../../../Styles/colors";
@import "../../../Styles/fonts";

.fixed-top {
    // fixed to the top
    display: fixed;
    z-index: 1;
    top: 0;
}

.nav-custom {
    margin-left: 0 !important;
    width: 100%;
    border-bottom: 1px solid black !important;
    box-shadow: 0.2rem 0.4rem 0.4rem #aeaeae;
    padding: 1rem 2rem;
    background-color: $navbar-background-color;

    .topnav {
        font-family: $navbar-font, sans-serif;
        font-weight: 400;
        font-size: 1.3vw;
        text-transform: uppercase;

        margin-bottom: 0;
    }
    

    li {
        cursor: pointer;
    }
}