@import "../../../Styles/colors";
@import "../../../Styles/fonts";

.fixed-wrapper {
    // fixed to the top
    position: fixed;
    top: 0;
}
.nav-custom {
    width: 70%;
    border: 2px solid black !important;
    border-radius: 1rem;    
    font-family: $navbar-font, sans-serif;
    font-weight: 700;
    box-shadow: 0.2rem 0.4rem 0.4rem #aeaeae;
    padding: 1rem 2rem;
    font-size: 1.5vw;
    margin: 1rem 0;
    background-color: $navbar-background-color;

    

    li {
        cursor: pointer;
    }
}