@import "../../../Styles/global";


.header {
    height: 15rem;
    cursor: pointer;
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 10;
    @include respond(phone) { top: 1rem; left: 1rem; }

    &__logo {
        height: 100%;
        width: auto;
    }
}