@import "./fonts";
@import "./colors";
@import "./global";

$aspect-ratio: calc(2670 / 1598);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
} /*Universal reset, so that every browser renders the page in the same way. */

html {
    // This defines what 1 rem is
    font-size: 62.5%; // 1rem = 10px

    @include respond(desktop) {
        font-size: 60%; // 1rem = 9px
    }

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px
    } 

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px;
    }

    // 87rem = 1 viewport
}

body {
    box-sizing: border-box;
    font-family: $tertiary-font;
}

.section {

    background-size: cover;
    background-repeat: no-repeat;

    &-home {
        background-image:  linear-gradient(to bottom, 
        rgba($color-black, 0.8),
        rgba($color-black, 0.5),
        rgba($color-black, 0)), url(../assets/images/main/1.PNG);
        background-position: 50%;
        height: 100%;
    }

    &-about {
        position: relative;
        background-image: url(../assets/images/main/2_2.png);
        height: 60%;
        @include respond(tab-land) { background-position: 50%; height: 100%; }

        .about {
            padding: 1rem 2rem;
            width: 50%;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            border-radius: 3px;
            transition: all 0.2s;
            box-shadow: 0 0.2rem 0.4rem #000;
            transform: translate(-50%, -51%) scale(1.01);
            background-color: rgba($color-black, 0.2);

            height: 70%;
            @include respond(desktop) { height: 45%; }
            @include respond(tab-land) { height: 55%;}
            @include respond(phone) { height: 60%; width: 80%; }
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            &__header {
                font-size: 15rem;
                @include respond(desktop) { font-size: 13rem; }
                @include respond(tab-land) { font-size: 12rem; }
                @include respond(phone) { font-size: 8rem; }
            }
    
            &__description {
                font-size: 3rem;
                @include respond(desktop) { font-size: 2.3rem; }
                font-family: $secondary-font;
                @include respond(phone) { font-size: 2.5rem;}
            }
        }
    }

    &-testimonials {
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba($taj-mahal-dirt-color, 1), rgba($color-black, 1));
    }

    &-theme {
        background-image: url(../assets/images/main/3.png);
        background-position: 50%;
        position: relative;
        
        &__text {
            height: 25rem;
            color: #b46f57;
            width: 100%;
            font-size: 10rem;
            position: absolute;
            top: 10%;
            @include respond(bada-wala-phone) { font-size: 6.5rem; }
            @include respond(phone) { display: none; }

            & > span {
                display: inline-block;
                width: 50%;
                @include respond(tab-land) { 
                    padding: 1rem 7rem;
                    &:nth-child(odd) { text-align: left; }
                    &:nth-child(even) { text-align: right; padding: 1rem 6rem; }
                }
                text-align: center;
            }
        }
    }

    &-footer {
        color: white;
    }
}
