$navbar-background-color: #fff;

$header-title-color: #000;

$color-black: #000;
$color-white: #fff;

$color-grey-dark: #777;


$color-gradient-primary: #8E0E00;
$color-gradient-secondary: #1F1C18;

$generic-background-color: #3e3c3e;

// $taj-mahal-dirt-color: #623c31;
// $taj-mahal-dirt-color: #613d32;
// $taj-mahal-dirt-color: #6C3829;
$taj-mahal-dirt-color: #5F3124;

// #6C3829
// #5F3124