@import url('https://fonts.googleapis.com/css?family=Yatra+One|Lato:300,400&display=swap');

@font-face {
    font-family: 'Ananda';
    src: url(../assets/fonts/ananda.ttf);
}

$main-font: 'Lato';
$secondary-font: 'Yatra One';
$tertiary-font: 'Ananda';

$navbar-font: 'Rubik';

$page-title: 'Merienda', cursive;

$sidenav-font: 'Rubik';