@import "../../../Styles/global";

.heading {
    &-past {
        width: 80% !important;
        margin: 0 auto;
        text-align: right;
    }
}

.sponsor {
    background-color: rgba($color-white, 0.4);
    width: 80%;
    @include respond(tab-land) {width: 90%;}
    @include respond(tab-port) {width: 95%;}
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    padding: 2rem 0rem;

    &--individual {
        display: inline-block;
        width: 20%;
        @include respond(phone) { width: 50%; }
        position: relative;
        cursor: pointer;
        margin: 2rem 0;
        padding: 0 2rem;

        img {
            border-radius: 400px;
            width: 100%;
            height: auto;
            transition: all .2s;
            @include respond(phone) {
                filter: blur(1px) brightness(60%);
            }
        }

        &:hover img {
            filter: blur(3px) brightness(30%);
        }

        &:hover &__weight {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        
        &__weight {
            position: absolute;
            @include absCenter;
            transform: translate(-50%, 20%);
            opacity: 0;
            font-size: 3rem;
            @include respond(phone) { 
                font-size: 2.5rem; 
                opacity: 1;
                color: $color-black;
                transform: translate(-50%, 80%); 
            }
            transition: all .3s;
        }
    }

    & > .past_sponsor {
        width: 100%;
        height: auto;
    }
}